﻿@model SubmitModel

<form id="submit-product-type" asp-controller="Home" asp-action="AddProductType">
    <input asp-for="ProductType.Id" hidden="hidden"/>
    <input asp-for="ProductType.Name" required />
    <button>Submit</button>
</form>
