﻿@model SubmitModel

<form id="submit-product" asp-controller="Home" asp-action="AddProduct">
    <input asp-for="Product.Id" hidden="hidden" />
    <label asp-for="Product.Name"></label>
    <input asp-for="Product.Name" required />
    <label asp-for="Product.ProductType"></label>
    <select asp-for="Product.ProductType.Id">
        @foreach (ProductTypeModel type in Model.Types)
        {
            <option value="@type.Id">@type.Name</option>
        }
    </select>
    <label asp-for="Product.Rest"></label>
    <input asp-for="Product.Rest" type="text" required />
    <label asp-for="Product.Price"></label>
    <input asp-for="Product.Price" type="text" required />
    <button>Submit</button>
</form>
