﻿@model IList<ProductTypeModel>

<table id="product-type-table" style="border: 1px solid #666; padding: 5px">
    <thead>
        <tr>
            <td>
                <span>Id</span>
            </td>
            <td>
                <span>Product type name</span>
            </td>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (ProductTypeModel item in Model)
            {
                <tr id="item-@item.Id">
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td><a class="delete" data-id="@item.Id" data-url="@Url.Action("DeleteProductType")">Remove</a></td>
                </tr>
            }
        }
    </tbody>
</table>


