﻿@model IList<ProductModel>

<table id="product-table" style="border: 1px solid #666; padding: 5px">
    <thead>
    <tr>
        <td>
            <span>Id</span>
        </td>
        <td>
            <span>Product type</span>
        </td>
        <td>
            <span>Product name</span>
        </td>
        <td>
            <span>Rest</span>
        </td>
        <td>
            <span>Price</span>
        </td>
    </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        foreach (ProductModel item in Model)
        {
            <tr id="item-@item.Id">
                <td id="product-cell-id">@item.Id</td>
                <td id="product-cell-type" data-id="@item.ProductType.Id">@item.ProductType.Name</td>
                <td id="product-cell-name">@item.Name</td>
                <td id="product-cell-rest">@item.Rest</td>
                <td id="product-cell-price">@item.Price</td>
                <td><a class="delete" data-id="@item.Id" data-url="@Url.Action("DeleteProduct")">Remove</a></td>
                <td><a class="edit-product" data-id="@item.Id" data-url="@Url.Action("EditProduct")">Edit</a></td>
            </tr>
        }
    }
    </tbody>
</table>


