﻿@model BaseModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Products info table</h1>
    <div>
        <h3>Product Type</h3>
        @{ await Html.RenderPartialAsync("_ProductTypesTable", Model.TypeModels);}
        <br />
        <span>Add product type</span>
        @{ await Html.RenderPartialAsync("_EditProductType", Model.SubmitModel);}
        
        <h3>Product </h3>
        @{ await Html.RenderPartialAsync("_ProductsTable", Model.ProductModels);}
        <br />
        <span>Add product</span>
        @{ await Html.RenderPartialAsync("_EditProductModel", Model.SubmitModel);}
    </div>
</div>
